.screen {
  padding: 2rem;
  flex: 1;
  background-color: #fffef5;
}

.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1rem;
}

.add-img-upload img {
  width: 100%;
  max-width: 240px;
  border-radius: 8px;
  cursor: pointer;
}

textarea, input, select {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
}

.add-btn {
  padding: 0.8rem 2rem;
  border: none;
  background-color: #ffc107;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-btn:hover {
  background-color: #ffcd39;
}
.add-category-price {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.add-price input {
  max-width: 140px;
  width: 100%;
}
